extends layout


block content
    include nav
    .container
        include alert
        .row
            .col-sm-8.col-md-5.col-md-offset-3#sign
                ul.nav.nav-tabs.nav-justified#sign-tabs
                    li(role='presentation').active
                        a(href='#signin-panel' aria-controls='signin-panel' role='tab' data-toggle='tab') Sign in
                    li(role='presentation')
                        a(href='#signup-panel' aria-controls='signup-panel' role='tab' data-toggle='tab') Sign up

                div(role='tabpanel').tab-content
                    div(role='tabpanel').panel-body.tab-pane.active#signin-panel
                        form(action='/login' method='post')#login
                            .form-group.form-group-lg
                                label(for="login_field" class="control-label") Username
                                input(type="text" class="form-control input-lg" id="login_field" placeholder="username" name='username')
                            .form-group
                                label(for="password") Password
                                input(type="password" class="form-control input-lg" id="password" placeholder="password" name='password')
                            button(type="submit" class="btn btn-primary btn-lg btn-block" id="signin") Sign in

                    div(role='tabpanel').panel-body.tab-pane#signup-panel
                        form(action='/api/users' method='post')
                            .form-group.form-group-lg
                                label(for="inputUsername" class="control-label") Username
                                input(type="text" class="form-control input-lg" id="inputUsername" placeholder="username" name='username')
                            .form-group.form-group-lg
                                label(for="inputDisplayname" class="control-label") Displayname
                                input(type="text" class="form-control input-lg" id="inputDisplayname" placeholder="displayname" name='display_name')
                            .form-group
                                label(for="inputPassword") Password
                                input(type="password" class="form-control input-lg" id="inputPassword" placeholder="password", name='password')
                            button(type="submit" class="btn btn-primary btn-lg btn-block" id="signup") Sign up


    script(type='text/javascript' src='/javascripts/scripts.js')

